@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 260 70% 90%;
    --primary-foreground: 0 0% 13%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 13%;
    --input: 240 5% 90%;
    --ring: 260 70% 90%;
    --chart-1: 260 70% 80%;
    --chart-2: 170 70% 80%;
    --chart-3: 350 80% 85%;
    --chart-4: 282 78% 52%;
    --chart-5: 0 84% 60%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 97%;
    --sidebar-foreground: 0 0% 13%;
    --sidebar-primary: 260 70% 90%;
    --sidebar-primary-foreground: 0 0% 13%;
    --sidebar-accent: 240 5% 90%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 240 5% 85%;
    --sidebar-ring: 260 70% 90%;
  }
  .dark {
    --background: 240 10% 97%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 260 70% 90%;
    --primary-foreground: 0 0% 13%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 13%;
    --input: 240 5% 90%;
    --ring: 260 70% 90%;
    --chart-1: 260 70% 80%;
    --chart-2: 170 70% 80%;
    --chart-3: 350 80% 85%;
    --chart-4: 282 78% 52%;
    --chart-5: 0 84% 60%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 97%;
    --sidebar-foreground: 0 0% 13%;
    --sidebar-accent: 240 5% 90%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 240 5% 85%;
    --sidebar-ring: 260 70% 90%;
    --sidebar-primary: 260 70% 90%;
    --sidebar-primary-foreground: 0 0% 13%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
